{% extends "base-templates/base.html" %}
{% load thumbnail %}
{% load story_tags %}

{% block "css" %}
    {{block.super}}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui-1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css">
{% endblock %}

{% block "javascript" %}
    {{block.super}}
    <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js'></script>
    <script type="text/javascript">
    	$(function(){

    		$("#id_date_of_birth, #id_date_of_death").datepicker();

    	})
    </script>
{% endblock %}

{% block "main" %}
	{{ block.super }}
	<section class='row' id='{{ story_action }}'>
    <div class='span12 pod'>
            {% generic_one_column_form form %}
    </div>
</section>
{% endblock %}
