{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "rh" %}
    {{block.super}}
    <h3>{% if location.name %}{{location.name}}{% endif %}</h3>
    {% if location.image %}
        <img  src="{% thumbnail location.image 200x200 %}"  alt="{{location}}" class="characterImage" />
    {% else %}
        <img class="charPodImage" src="{{ MEDIA_URL }}images/icons/location-icon.png" alt="{{location}}" style="width:200px" />
    {% endif %}
        </div>
{% endblock %}

{% block "main" %}
<style type="text/css">
p label{float:left; width:100%}
p.input{float:left; width:100%}
p select{float:left;}
#id_content{ width:100%; height:400px;}
span.helptext{font-size:0.8em; float:left;}
.formRow{clear:left; padding:10px;}
.formRow label {width:120px; float:left;}
select{min-width:200px;}
ul.messages li.success{color:green;}
ul.messages li.error{color:red;}
span.required:after { content: "*"; }

</style>

<form enctype="multipart/form-data" action="" method="post">
	{% csrf_token %}
     {% for field in form %}
        <div class="formRow">
            {{ field.errors }}
             <label for="{{ field.auto_id }}">
                {% if field.field.required %}<span class="required">{{ field.label }}</span>
                {% else %}{{ field.label }}{% endif %}
            </label>
            {{ field }}
            {{ field.help_text }}
        </div>
    {% endfor %}
    
	
	<input type="submit" value="Submit" />
</form>
{% endblock "main" %}
