{% extends "base-templates/preview.html" %}
{% load thumbnail %}

{% block "content" %}
    {% if location.image %}
        <img class="previewThumb" src="{% thumbnail location.image 120x120 %}"  alt="{{location}}" />
    {% else %}
        <img class="previewThumb noPreview" src="{{ STATIC_URL }}library/images/icons/location-icon.png" alt="{{location}}" />
    {% endif %}
    <h3 class="previewName">{% if location.name %}{{location.name}}{% endif %}</h3>
    <div class="previewParticulars">
        {% if location.description %}<p><strong>Desc:</strong> {{location.description}}</p>{% endif %}
    </div>
    <p style="clear:left; margin-top:10px; float:left;"><a href="/location/{{location.pk}}" target="_parent" class="button medium red">Edit</a></p>
{% endblock %}
