{% extends "base-templates/preview.html" %}
{% load thumbnail %}

{% block "content" %}
    {% if artifact.image %}
        <img class="previewThumb" src="{% thumbnail artifact.image 120x120 %}"  alt="{{artifact}}" />
    {% else %}
        <img class="previewThumb noPreview" src="{{ MEDIA_URL }}images/icons/artifact-icon.jpg" alt="{{artifact}}" />
    {% endif %}
     <h3 class="previewName">{% if artifact.name %}{{artifact.name}}{% endif %}</h3>
    <div class="previewParticulars">
        {% if artifact.owner %}<p><strong>Owner:</strong> {{artifact.owner}}</p>{% endif %}
        {% if artifact.location %}<p><strong>Location:</strong> {{artifact.location}}</p>{% endif %}
        {% if artifact.description %}<p><strong>Desc:</strong> {{artifact.description}}</p>{% endif %}
    </div>
    <p style="clear:left; margin-top:10px; float:left;"><a href="/artifact/{{artifact.pk}}"  target="_parent" class="button medium red">Edit</a></p>
{% endblock %}
