{% extends "base-templates/base_wide.html" %}
{% load thumbnail %}

{% block "css" %}
    {{block.super}}
    <link href="{{ MEDIA_URL }}css/tabcontent.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      select{clear:left;}
      #popup
      {
        width: auto; 
        height:auto;
        background: #DFD6AF;
        color: #333;
        font-family: tahoma;
        font-size: 0.9em;
        position: absolute;
        top: 20px;
        left: 100px;
        display: none;
        border:1px solid #333;
        border-radius:3px;
        z-index:1;
      }
      #handle
      {
        display:block;
        width: auto;
        padding: 5px;
        background: #738088;
        color: white;
        font-weight: bold;
       }
       #handle:hover{cursor:pointer}
       .closeme{float:right;}

      .no-select
      {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
    </style>
{% endblock %}

{% block "javascript" %}
    {{block.super}}
<script src="{{ MEDIA_URL }}js/tabcontent.js" type="text/javascript"></script>
<script type="text/javascript">
    (function($)
    {
      $.fn.popup = function(params) 
      {   
        var popupElm = this;
        $('#handle').mousedown(function(emd){
            
          var offset = popupElm.offset();
          var mxOff = emd.pageX - offset.left;
          var myOff = emd.pageY - offset.top;

          $("body").mousemove(function(emm){
             
            var x = emm.pageX - mxOff;
            var y = emm.pageY - myOff;
              
            popupElm.css({
              'left': x,
              'top': y
            });
          });
        })
        .mouseup(function(e){
            $('body').unbind('mousemove');
        });

        popupElm.detach();
        $('body').append(popupElm);
        popupElm.show();
      };
    })(jQuery);
</script>

<script type="text/javascript">
    
    
    $(document).ready(function(){
         $('#popupClose').click(
          function(e)
          {
            e.preventDefault();
            $(this).parents('#popup').hide();            
        })
    });
      
    $('.various').click(function(e){
        e.preventDefault();
        $('#popupContent').load($(this).attr('href'));
        $('#popup').popup();
    });
</script>
{% endblock %}

{% block "main" %}

<ul class="tabs">
    <li><a href="#" rel="contenttab">Content</a></li>
    <li><a href="#" rel="basictab">Basic/Required Settings</a></li>
    <li><a href="#" rel="advancedtab">Advanced Settings</a></li>    
</ul>
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <div class="tabcontents clearfix">
    
        <div id="contenttab" class="tabcontent">
            {{ form.content }}
        </div>
        <div id="basictab" class="tabcontent">
            <div class="formRow">
                    {{ form.name.errors }}
                 <label for="{{ form.name.auto_id }}">
                    {% if form.name.field.required %}<span class="required">{{ form.name.label }}</span>
                    {% else %}{{ form.name.label }}{% endif %}
                 </label>
                 {{ form.name }}
                 <p class="helpText">{{ form.name.help_text }} </p>
            </div>
            <div class="formRow">
                    {{ form.status.errors }}
                 <label for="{{ form.status.auto_id }}">
                    {% if form.status.field.required %}<span class="required">{{ form.status.label }}</span>
                    {% else %}{{ form.status.label }}{% endif %}
                 </label>
                 {{ form.status }}
                 <p class="helpText">{{ form.status.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.importance.errors }}
                 <label for="{{ form.importance.auto_id }}">
                    {% if form.importance.field.required %}<span class="required">{{ form.importance.label }}</span>
                    {% else %}{{ form.importance.label }}{% endif %}
                 </label>
                 {{ form.importance }}
                 <p class="helpText">{{ form.importance.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.description.errors }}
                 <label for="{{ form.description.auto_id }}">
                    {% if form.description.field.required %}<span class="required">{{ form.description.label }}</span>
                    {% else %}{{ form.description.label }}{% endif %}
                 </label>
                 {{ form.description }}
                 <p class="helpText">{{ form.description.help_text }} </p>
             </div>
            
        </div>
        <div id="advancedtab" class="tabcontent">
            <div class="formRow">
                    {{ form.word_target.errors }}
                 <label for="{{ form.word_target.auto_id }}">
                    {% if form.word_target.field.required %}<span class="required">{{ form.word_target.label }}</span>
                    {% else %}{{ form.word_target.label }}{% endif %}
                 </label>
                 {{ form.word_target }}
                 <p class="helpText">{{ form.word_target.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.perspective.errors }}
                 <label for="{{ form.perspective.auto_id }}">
                    {% if form.perspective.field.required %}<span class="required">{{ form.perspective.label }}</span>
                    {% else %}{{ form.perspective.label }}{% endif %}
                 </label>
                 {{ form.perspective }}
                 <p class="helpText">{{ form.perspective.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.chapter.errors }}
                 <label for="{{ form.chapter.auto_id }}">
                    {% if form.chapter.field.required %}<span class="required">{{ form.chapter.label }}</span>
                    {% else %}{{ form.chapter.label }}{% endif %}
                 </label>
                 {{ form.chapter }}
                 <p class="helpText">{{ form.chapter.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.characters.errors }}
                 <label for="{{ form.characters.auto_id }}">
                    {% if form.characters.field.required %}<span class="required">{{ form.characters.label }}</span>
                    {% else %}{{ form.characters.label }}{% endif %}
                 </label>
                 {{ form.characters }}
                 <p class="helpText">{{ form.characters.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.location.errors }}
                 <label for="{{ form.location.auto_id }}">
                    {% if form.location.field.required %}<span class="required">{{ form.location.label }}</span>
                    {% else %}{{ form.location.label }}{% endif %}
                 </label>
                 {{ form.location }}
                 <p class="helpText">{{ form.location.help_text }} </p>
             </div>
             <div class="formRow">
                    {{ form.artifacts.errors }}
                 <label for="{{ form.artifacts.auto_id }}">
                    {% if form.artifacts.field.required %}<span class="required">{{ form.artifacts.label }}</span>
                    {% else %}{{ form.artifacts.label }}{% endif %}
                 </label>
                 {{ form.artifacts }}
                 <p class="helpText">{{ form.artifacts.help_text }} </p>
             </div>
            
            
        </div>
    
    </div>
    <input type="submit" value="Submit" />
</form>

      <div id="popup">
        <span id="handle">Drag me <span class="closeme">
            <a id="popupClose" href="" style="color: #fff; margin:0.4em;">close [x]</a>
            </span></span>    
        <div id="popupContent">
            beep
        </div>
      </div>
{% endblock "main" %}	
{% block "rh" %}
{% if characters %}
<div class="buttons" style="float:left; margin-top:1em;">
    <p>Characters</p>
    {% for c in characters %}
        <a class="button green medium various" style="margin-top:10px;" href="/character/preview/{{c.pk}}">{{ c }}</a>
    {% endfor %}
</div>
{% endif %}

{% if artifacts %}
<div class="buttons" style="float:left;margin-top:1em;">
    <p>Artifacts</p>
    {% for a in artifacts %}
        <a class="button green medium various" style="margin-top:10px;" href="/artifact/preview/{{a.pk}}">{{ a }}</a>
    {% endfor %}
</div>
{% endif %}

{% if locations %}
<div class="buttons" style="float:left; margin-top:1em;">
    <p>Locations</p>
    {% for l in locations %}
        <a class="button green medium various" style="margin-top:10px;" href="/location/preview/{{l.pk}}">{{ l }}</a>
    {% endfor %}
</div>
{% endif %}
{% endblock "rh" %}

