{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
{% endblock %}

{% block "main" %}

<section id='character-list'>
    <article class='row'>
        <div class='span12 pod'>
            <div class='padded'>
                <header id="header">
                    <h2>Artifacts <small></small><a href="/artifact/add/" class="pull-right btn btn-success">Add Artifact</a></h2>
                </header><!-- /header -->
                <ul class="sortable tabular">  
                    {% for a in artifacts %}
                        <li>    
                        {% if a.image %}
                            <img class="charPodImage" src="{% thumbnail a.image 50x50 %}" alt="{{a}}" />
                        {% else %}
                            <img class="charPodImage" src="{{ STATIC_URL }}images/icons/artifact-icon.jpg" alt="{{a}}" style="width:50px" />
                        {% endif %}
                        <a href="/artifact/{{a.pk}}">{{ a.name }}</a>
                                                        
                        {% if a.description %}<span>{{a.description}}</span>{% endif %}
                        {% if a.owner %}<span>Owner: {{ a.owner }}</span>{% endif %}
                        {% if a.location %}<span>Location: {{ a.location }}</span>{% endif %}
                        </li>   
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
        
</section>

{% endblock %}