{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
    <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js'></script>
    
    <script>
    
    var sorted = ""
    $(function() {
        
        $( "#scene-list .sortable" ).disableSelection();
    });
    $( "#scene-list .sortable" ).sortable({
        stop: function( event, ui ) {
            var sorted = $('#scene-list .sortable').sortable('serialize');
            $.ajax({
                type: "POST",
                data: sorted + '&csrfmiddlewaretoken={{ csrf_token }}&active=true',
                url: "/sortscenes/",
                success:function(data) {
                    $( "#scene-list .output" ).html(data)
                }
            });           
        }
    });
    </script>

{% endblock %}

{% block "main" %}

<section id='scene-list'>
    <div class='row'>
                <div class='span12 pod'>
                    <ul class="sortable tabular padded">
                        <header id="header">
                            <h2>Scenes <small><span class='output'>Drag and drop to sort scenes</span></small><a href="/scene/add/" class="pull-right btn btn-success">Add Scene</a></h2>
                        </header><!-- /header -->
                        {% for sc in scenes %}
                        <li id="scene_{{sc.pk}}">
                        
                            <a  href="/scene/{{sc.pk}}"{% ifequal sc.importance 'MP' %}class="majorScene" title="Main plot"{% else %}title="Subplot"{% endifequal %}>{{sc}}</a>
                            
                                <span><strong>Status:</strong> {{ sc.get_status_display }}</span>
                                <span><strong>Progress:</strong> {{ sc.get_percentage_complete }}%</span>                               
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
</section>

{% endblock %}


        

