{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
{% endblock %}

{% block "main" %}

<section id='character-list'>
    <article class='row'>
        <div class='span12 pod'>
            <div class='padded'>
                <header id="header">
                    <h2>Characters <small><span class='output'>Drag and drop to sort characters</span></small><a href="/character/add/" class="pull-right btn btn-success">Add Character</a></h2>
                </header><!-- /header -->

                <ul class="sortable tabular">
                    {% for ch in characters %}
                    <li id="chapter-{{c.pk}}">
                        {% if ch.image %}
                            <img class="charPodImage" src="{% thumbnail ch.image 50x50 %}" alt="{{ch}}" />
                        {% else %}
                            <img class="charPodImage" src="{{ STATIC_URL }}images/icons/nocharacter.png" alt="  {{ch}}" style="width:50px" />
                        {% endif %}
                        <a href="/character/{{ch.pk}}">
                        {{ ch.firstname }} {{ ch.middlename }} {{ ch.lastname }} {% if ch.nicknames %}({{ ch.nicknames}}){% endif %}
                        </a>
                        <span>{% if ch.date_of_birth %}{{ch.date_of_birth}}{% endif %}{% if ch.date_of_death %} - {{ch.date_of_death}}{% endif %}</span>
                        {% if ch.role %}<span>Role: {{ ch.role }}</span>{% endif %}              
                    
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
        
</section>

{% endblock %}