{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
{% endblock %}

{% block "main" %}
<section id='location-list'>
    <article class='row'>
        <div class='span12 pod'>
            <div class='padded'>
                <header id="header">
                    <h2>Locations<a href="/location/add/" class="pull-right btn btn-success">Add Location</a></h2>
                </header><!-- /header -->

                <ul class="sortable tabular">

                    {% for l in locations %}
                        <li>
                        {% if l.image %}
                            <img class="charPodImage" src="{% thumbnail l.image 50x50 %}" alt="{{l}}" />
                        {% else %}
                            <img class="charPodImage" src="{{ STATIC_URL }}images/icons/location-icon.png" alt="{{l}}" style="width:50px" />
                        {% endif %}
                        <a href="/location/{{l.pk}}">{{ l.name }}</a>
                        {% if l.description %}<span>{{l.description|truncatewords:30}}</span>{% endif %}           
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>        
</section>
{% endblock %}


        

