{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
{% endblock %}

{% block "main" %}
    <section class='row' id='story_list'>
        <div class='span8'>
            <div class='padded clearfix pod'>
                <h2>Your Stories</h2>
                {% for s in stories %}
                <div class='story-wrapper'>
                    <div class="publishedPod">
                        <div class='content'>
                            <a class='jacket' href='/story/{{ s.storyslug}}'><img class='jacket' src="{% if s.cover %}{% thumbnail s.cover 147x220 %}{% else %}{% thumbnail nocover 147x260 %} {% endif %}" alt="{{s}}" />
                            </a>
                            
                        </div>

                    </div>
                    <p class="story_title"><strong>{{s}}</strong></p>
                    <p>{% if s.id == activestory %}active{% else %}<a class="btn btn-mini" href="/story/activate/{{s.id}}">activate</a>{% endif %}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <aside class='span4'>
            <div class='padded pod'>
                <a href='/story/add/' class='btn btn-block btn-success'>Begin New Story</a>
            </div>
        </aside>
    </section>
    
{% endblock %}
