{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
<style type="text/css">
.charPod, .addPod{width:280px; min-height:150px; margin: 1em; float: left; background:rgba(0, 0, 0, 0.2)}
.charPod a {text-align:center; text-decoration:none;}
.charPod p.character_title{font-size:1.2em;}
.charPod p{margin:0.5em 0 0 0 ;}
.charPod p.story_syn{text-align:left;margin:0.4em;}
.header{padding:1em; font-weight:bold; background:#f3d26c;}
.majorChar{background:url({{ MEDIA_URL }}images/icons/star-icon.png) no-repeat top right;}
.charPodImage {float:left; margin:10px;}
</style>
{% endblock %}

{% block "javascript" %}
    {{block.super}}
{% endblock %}

{% block "main" %}
<div class="addPod">
    <a href="/location/add/" class="clearfix">
        <p class="character_title">add a location</p>
    </a>
</div>

 {% for l in locations %}
    <div class="charPod" >
        <a href="/location/{{l.pk}}">
            {% if l.image %}
                <img class="charPodImage" src="{% thumbnail l.image 100x100 %}" alt="{{l}}" />
            {% else %}
                <img class="charPodImage" src="{{ MEDIA_URL }}images/icons/location-icon.png" alt="{{l}}" style="width:100px" />
            {% endif %}
        <div>
            <h4>{{ l.name }}</h4>
            {% if l.description %}<p>{{l.description|truncatewords:30}}</p>{% endif %}           
        </div>
        </a>
    </div>
    {% endfor %}


{% endblock %}


        

