{% extends "base-templates/base.html" %}
{% load thumbnail %}


{% block "css" %}
    {{block.super}}
{% endblock %}

{% block "javascript" %}
    {{block.super}}
    <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL}}js/story_edit.js'></script>
    <script>
   
    var sorted = ""
    $(function() {
        
        $( ".sortable" ).disableSelection();
    });
    $( ".sortable" ).sortable({
        stop: function( event, ui ) {
            var sorted = $('.sortable').sortable('serialize');
            $.ajax({
                type: "POST",
                data: sorted + '&csrfmiddlewaretoken={{ csrf_token }}&active=true',
                url: "/sortchapters/",
                success:function(data) {
                    $( ".output" ).html(data)
                }
            });           
        }
    });
    </script>
{% endblock %}

{% block "main" %}

<section id='chapter-list'>
    <article class='row'>
        <div class='span12 pod'>
            <div class='padded'>
                <header id="header">
                    <h2>Chapters <small><span class='output'>Drag and drop to sort chapters</span></small><a href="/chapter/add/" class="pull-right btn btn-success">Add Chapter</a></h2>
                </header><!-- /header -->

                <ul class="sortable tabular">
                    {% for c in chapters %}
                    <li id="chapter-{{c.pk}}">
                    
                        <a href="/chapter/{{c.pk}}">
                        {{c.title}}
                        </a>
                        <span>{{ c.weight }}</span>
                        <span>Story: {{c.story}} </span>
                        {% if c.get_scenes %}
                            <span>Contains {{c.get_scenes.count}} scenes:
                            {% for s in c.get_scenes %}
                                {{s}} {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </span>
                        {% endif %}                   
                    
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
        
</section>


{% endblock %}