/******************************************
**
** Colors
**
*******************************************/
.full-width {
  width: 100%;
}
.full-width-input {
  padding: 0 12px 0 0;
}
.full-width-input input, .full-width-input textarea, .full-width-input select {
  width: 100%;
}
/* MOBILE FIRST */
body {
  background-color: #dddddd;
}
#main-nav.navbar {
  min-height: 60px;
}
#main-nav.navbar .navbar-inner {
  min-height: 40px;
  padding: 10px 0;
}
#main-nav.navbar .navbar-inner li > a.btn {
  padding: 4px 12px;
  background-color: #e6e6e6;
}
#main-nav.navbar a.brand {
  font-size: 250%;
  padding-left: 20px;
  color: #444;
}
#write-button {
  padding: 24px;
  font-size: 180%;
  margin-bottom: 20px;
}
article#intro p {
  font-size: 130%;
  line-height: 1.5;
  margin-top: 0;
}
article#intro p span {
  font-weight: bold;
  font-size: 150%;
}
article#intro span.write {
  color: #51a351;
}
section h2 {
  margin-top: 0;
  font-size: 180%;
  color: #8b8b8b;
}
#siteupdates div.item {
  margin-bottom: 10px;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
}
#siteupdates div.item img.avatar {
  float: left;
  width: 20%;
  height: 20%;
  max-width: 50px;
  max-height: 50px;
  border: 2px solid #65b9da;
}
#siteupdates div.item p {
  float: left;
  width: 70%;
  margin-left: 10px;
  font-family: monospace;
}
form label {
  font-weight: bold;
}
form .control-group {
  margin-top: 0;
}
form legend {
  margin-bottom: 10px;
}
form div.submit {
  padding-top: 20px;
}
form label.required:after {
  content:" *"; 
}
ul.errorlist{
    margin: 0px;
    color: rgb(224, 3, 3);
    list-style: none;
}
div.errorinput label{
    color:rgb(224, 3, 3);
}
div.errorinput input, div.errorinput select{
    border:1px solid rgb(224, 3, 3);
}
.help-block {
    font-size: 0.8em;
    font-style: italic;
    font-family: arial;
}

@media (min-width: 768px) {
  input[type='file'] {
    vertical-align: 10px;
    line-height: 1.0;
    margin-top: 10px;
    max-width: 197px;
  }
  .agkani-cover.widget {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    text-align: center;
    display: table;
    width: 100%;
  }
  .agkani-cover.widget div.cover {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 240px;
  }
  .agkani-cover.widget div.cover img {
    max-width: 147px;
    max-height: 220px;
  }
  #story_list a.btn-block {
    padding: 20px 20px;
    font-size: 160%;
  }
  section .padded {
    padding: 1em 1.5em 1.5em 1.5em;
  }
  section .padded.first {
    padding-right: 0;
    padding-top: 0;
  }
  section .padded.last {
    padding-left: 0;
    padding-top: 0;
  }
  .pod {
    background-color: #efefef;
    border: 1px solid #ccc;
  }
  .boxshadow article.pod {
    -webkit-box-shadow: 2px 2px 4px #cccccc;
  }
  footer {
    text-align: right;
    padding-top: 10px;
  }
  .story-wrapper {
    float: left;
  }
  .story-wrapper p {
    margin: 3px 0 0 0;
    max-width: 147px;
  }
  .story-wrapper .publishedPod {
    display: table;
    padding: 10px;
    background-color: white;
    border: 1px solid #cccccc;
    position: relative;
    margin-right: 10px;
    max-width: 147px;
    max-height: 221px;
  }
  .story-wrapper .publishedPod div.content {
    min-height: 221px;
  }
  .story-wrapper .publishedPod a.jacket {
    width: 100%;
    height: 221px;
    display: table-cell;
    vertical-align: middle;
  }
}
header.padded {
  padding-bottom: 0;
}
ul.tabular {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;
}
ul.tabular li {
  background-color: #fefefe;
  padding: 10px;
  margin-bottom: 3px;
}
ul.tabular li span {
  float: right;
  margin-left: 10px;
}
ul.tabular li:hover {
  background-color: #feeebd;
}
@media (max-width: 979px) {
  #main-nav.navbar .navbar-inner .container {
    padding-right: 10px;
  }
}
@media (min-width: 979px) {
  body {
    padding-top: 80px;
  }
}
