@import "variables.less";
@import "mixins.less";

/* MOBILE FIRST */

body {
	background-color:@bodycolor;
}

#main-nav.navbar {
	min-height:60px;
	.navbar-inner {
		min-height:40px;
		padding:10px 0;

		li > a.btn {
			padding:4px 12px;
			background-color:#e6e6e6;
		}

	}

	a.brand {
		font-size:250%;
		padding-left:20px;
		color:#444;
	}

}

#write-button {
	padding:24px;
	font-size:180%;
	margin-bottom:20px;
}

article#intro {
	p 	{ 
		font-size:130%;
		line-height:1.5;
		margin-top:0;

		span {
			font-weight:bold;
			font-size:150%;
			}
		}

		span.write {
			color:#51a351;
		}
}

section h2 {
	margin-top:0;
	font-size:180%;
	color:#8b8b8b;
}

#siteupdates {

	div.item {

		margin-bottom:10px;
		border-bottom:1px dotted @border-color;
		padding-bottom:10px;

		img.avatar {
			float:left;
			width:20%;
			height:20%;
			max-width:50px;
			max-height:50px;
			border: 2px solid @accented-border-color;
		}
		p {
			float:left;
			width:70%;
			margin-left:10px;
			font-family:monospace;
		}
	}

}

form {
	label {
		font-weight:bold;
	}

	.control-group {
		margin-top:0;
	}

	legend {
		margin-bottom:10px;
	}

	div.submit {
		padding-top:20px;
	}

}

@media (min-width: 768px) {

	input[type='file']{
		vertical-align:10px;
		line-height:1.0;
		margin-top:10px;
		max-width:197px;
	}

	.agkani-cover.widget {
		
		border:1px solid @border-color;
		background-color:#ffffff;
		text-align:center;
		display:table;
		width:100%;

		div.cover {

			display:table-cell;
			text-align:center;
			vertical-align:middle;
			height:240px;

			img {
				max-width:147px;
				max-height:220px;
			}
		}
	}

	#story_list {
		a.btn-block {
			padding:20px 20px;
			font-size:160%;
		}
	}

	section {
		
		.padded{	
			padding:1em 1.5em 1.5em 1.5em;
			
		}

		.padded.first {
			padding-right:0;
			padding-top:0;
		}

		.padded.last {
			padding-left:0;
			padding-top:0;
		}
		
	}

	.pod {
		background-color:@pod-color;
		border:1px solid #ccc;
	}

	.boxshadow article.pod {
		.dropshadow;
	}

	footer {
		text-align:right;
		padding-top:10px;
	}

	.story-wrapper {
		float:left;
		p {
			margin:3px 0 0 0;
			max-width:147px;
		}

		.publishedPod {
			display:table;
			padding:10px;
			background-color:white;
			border:1px solid @border-color;
			
			position:relative;
			margin-right:10px;
			max-width:147px;
			max-height:221px;

			div.content {
				min-height:221px;
			}

			a.jacket {
				width:100%;
				height:221px;
				display:table-cell;
				vertical-align:middle;
			}

		}
	}



}

header.padded {
	padding-bottom:0;
	
}



ul.tabular {
	list-style-type:none;
	list-style-position:inside;
	margin-left:0;
	li {
		background-color:#fefefe;
		padding:10px;
		margin-bottom:3px;

		span {
			float:right;
			margin-left:10px;
		}
	}
	li:hover {
		background-color:@highlighted-color;
	}
}

@media (max-width: 979px) {
	#main-nav.navbar {
		.navbar-inner {
			.container {
				padding-right:10px;
			}
		}
	}
}

@media (min-width: 979px) {
	body {
		padding-top: 80px;
	}
}