{% load story_tags %}
{% load widget_tweaks %}
<form enctype="multipart/form-data" action="" class='form' method="post">
    <div class='row'>
        {% csrf_token %}
        <div class='span12'>
            <div class='padded'>
                {% for field in form %}
                
                    {{ field.errors }}
                    
                    {% if field|is_checkbox %}
                        <label class="checkbox" for="{{ field.auto_id }}">
                            {{ field }}
                            {{ field.label }}
                            
                        </label>
                        <span class='help-block'>{{ field.help_text }}</span>
                    {% else %}
                    <div class='control-group'>

                        
                        <label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        <div class='controls'>

                            {% if field|is_textarea %}

                                {{ field|attr:"rows:4"|attr:"class:span4" }}

                            {% elif field|is_textinput %}

                                {{ field|attr:"class:span4" }}

                            {% elif field|is_file %}
                                {{ field|attr:"class:button" }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                        <span class="help-block">{{ field.help_text }}</span>

                    </div>
                    {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href='javascript:history.back()' class="btn">Cancel</a>
            </div>
        </div>
    </div>
    
</form>