{% load story_tags %}
{% load widget_tweaks %}

<form id='story_details_form' enctype="multipart/form-data" action="" class='form' method="post">
{% csrf_token %}
    <div class='row'>
        <div class='span12'>
            <header class='padded'>
                <h2>Story Details</h2>
            </header>
        </div>
    </div>
    <div class='row'>
       <div class='span3'>
            <div class='padded first'>
                <fieldset>
                    <legend>Jacket</legend>
                    <div class="control-group">

                        <label for="{{ form.cover.html_name }}" {% if form.cover.field.required %}class="required"{% endif %}>Upload Image</label>
                        
                        <div class="controls">
                            {{ form.cover }}    
                        </div>
                    </div>
                </fieldset>
                
            </div>
       </div> 
       <div class='span4'>
            <fieldset>
                    <legend>Basic Info</legend>
                <div class="control-group {% if form.title.errors %} errorinput{% endif %}">                  
                        {{ form.title.errors }}
                    <label for="id_title" class="control-label {% if form.title.field.required %}required{% endif %}">{{ form.title.label }}</label>
                        <div class="controls">                     
                            {{ form.title|attr:"class:span4" }}
                        </div>
                        <span class="help-block">{{ form.title.help_text }}</span>
                </div>
                <div class="control-group {% if form.author.errors %} errorinput{% endif %}">
                        {{ form.author.errors }}
                    <label for="id_author" class="control-label {% if form.author.field.required %}required{% endif %}">Author</label>
                        <div class="controls">                     
                            {{ form.author|attr:"class:span4" }}
                        </div>
                        <span class="help-block">{{ form.author.help_text }}</span>
                </div>
                <div class="control-group {% if form.synopsis.errors %} errorinput{% endif %}">
                        {{ form.synopsis.errors }}
                    <label for="id_synopsis" class="control-label {% if form.synopsis.field.required %}required{% endif %}">Synopsis</label>
                        <div class="controls">                     
                            {{ form.synopsis|attr:"rows:4"|attr:"class:span4" }}
                        </div>
                        <span class="help-block">{{ form.synopsis.help_text }}</span>
                </div>
                
            </fieldset> 
        </div>

        <div class='span5'>
            <div class='padded last'>
                <fieldset>
                    <legend>Classification</legend>
                    <div class="control-group {% if form.genre.errors %} errorinput{% endif %}">
                        {{ form.genre.errors }}
                        <label for="id_genre" class="control-label{% if form.genre.field.required %}required{% endif %}">Genre</label>
                        <div class="controls">
                            {{ form.genre }}                            
                        </div>
                        <span class="help-block">{{ form.genre.help_text }}</span>
                    </div>

                    {{ form.fiction.errors }}
                    <label class="checkbox {% if form.fiction.field.required %}required{% endif %}" for="id_fiction">
                                {{ form.fiction }}
                                Fiction
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Access</legend>
                    {{ form.registered_access.errors}}
                    <label class="checkbox {% if form.registered_access.field.required %}required{% endif %}" for="id_registered_access">
                        {{ form.registered_access}}
                        Registered access
                    </label>
                    <span class="help-block">{{ form.registered_access.help_text }}</span>
                        
                    {{ form.public_access.errors}}
                    <label class="checkbox {% if form.publis_access.field.required %}required{% endif %}" for="id_public_access">
                        {{ form.public_access}}
                        Public Access
                    </label>
                    <span class="help-block">{{ form.public_access.help_text }}</span>
                </fieldset>
                <div class='submit'>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a href='/story/list/' class="btn">Cancel</a>
                    <a href="/story/print/{{s.id}}" class="btn">Print preview</a>
                </div>
                
                
            </div>
        </div>
    </div>  <!-- end row -->
</form>
