<section id='story-facets'>
	<article class='row story-facet' id='story-chapters'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Chapters <small>[drag to reorder]</small><a href='#' class='pull-right btn btn-success'>Add Chapter</a></h2>
				</header>
				<ul class='sortable tabular'>
                    {% if s.get_chapters %}
                        {% for c in s.get_chapters %}
                            <li>{{c}} <span>{% if c.get_scene_count > 0 %}<a href='#'>View {{c.get_scene_count}} Scenes</a>{% endif %}</span><span><a href='/scene/add/'>Add Scene</a></span></li>
                        {% endfor %}
                    {% endif %}
				</ul>
			</div>	
		</div>
	</article>

	<article class='row story-facet' id='story-characters'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Characters<a href='#' class='pull-right btn btn-success'>Add Character</a></h2>
				</header>
				<ul class='tabular'>
                    {% if s.get_characters %}
                        {% for character in s.get_characters %}
                            <li>{{character}} <span><a href='#'>View</a></span><span><a href='/character/{{character.id}}'>Edit</a></span></li>
                        {% endfor %}
                    {% endif %}
				</ul>
			</div>	
		</div>
	</article>
	<article class='row story-facet' id='story-locations'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Locations<a href='#' class='pull-right btn btn-success'>Add Location</a></h2>
				</header>
				<ul class='tabular'>
                    {% if s.get_locations %}
                        {% for location in s.get_locations %}
                            <li>{{location}} <span><a href='#'>View</a></span><span><a href='/location/{{location.id}}'>Edit</a></span></li>
                        {% endfor %}
                    {% endif %}
				</ul>
			</div>	
		</div>
	</article>
	<article class='row story-facet' id='story-artifacts'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Artifacts<a href='#' class='pull-right btn btn-success'>Add Artifact</a></h2>
				</header>
				<ul class='tabular'>
                    {% if s.get_artifacts %}
                        {% for artifact in s.get_artifacts %}
                            <li>{{artifact}} <span><a href='#'>View</a></span><span><a href='/artifact/{{artifact.id}}'>Edit</a></span></li>
                        {% endfor %}
                    {% endif %}
				</ul>
			</div>	
		</div>
	</article>
</section>
