{% load story_tags %}
{% load widget_tweaks %}

<form id='story_details_form' enctype="multipart/form-data" action="" class='form' method="post">
{% csrf_token %}
    <div class='row'>
       <div class='span4'>
            <div class='padded'>
                <div class="control-group">
                    {{ form.title.errors }}
                    <label for="id_title" class="control-label">Title<span class="required">*</span></label>
                        <div class="controls">                     
                            {{ form.title|attr:"class:span4" }}
                        </div>
                        <span class="help-block"></span>
                </div>
                <div class="control-group">
                    {{ form.author.errors }}
                    <label for="id_title" class="control-label">Title<span class="required">*</span></label>
                        <div class="controls">                     
                            {{ form.author|attr:"class:span4" }}
                        </div>
                        <span class="help-block"></span>
                </div>
                <div class="control-group">
                    {{ form.synopsis.errors }}
                    <label for="id_title" class="control-label">Title<span class="required">*</span></label>
                        <div class="controls">                     
                            {{ form.synopsis|attr:"rows:4"|attr:"class:span4" }}
                        </div>
                        <span class="help-block"></span>
                </div>
            </div>
       </div> 
       <div class='span4'>
            <div class='padded'>
                <div class="control-group">
                    {{ form.genre.errors }}
                    <label for="id_genre" class="control-label">Genre</label>
                    <div class="controls">
                        {{ form.genre }}                            
                    </div>
                    <span class="help-block"></span>
                </div>

                {{ form.fiction.errors }}
                <label class="checkbox" for="id_fiction">
                            {{ form.fiction }}
                            Fiction
                </label>

                <div class="control-group">
                    <label for="{{ form.cover.html_name }}"></label>
                    
                    <div class="controls">
                        {{ form.cover }}    
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='row'>
        
        <div class='span4'>
            <div class='padded'>


            {% for field in form %}
                    {% if field.name == "genre" %}
                                        
            </div>
        </div>
        <div class='span8'>
            <div class='padded'>
                    {% endif %}
                    {{ field.errors }}
                    {% if field|is_checkbox %}
                        <label class="checkbox" for="{{ field.auto_id }}">
                            {{ field }}
                            {{ field.label }}

                            
                        </label>
                        <span class='help-block'>{{ field.help_text }}</span>
                    {% else %}
                    <div class='control-group'>

                        
                        <label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        <div class='controls'>

                            {% if field|is_textarea %}

                                {{ field|attr:"rows:4"|attr:"class:span4" }}

                            {% elif field|is_textinput %}

                                {{ field|attr:"class:span4" }}

                            {% elif field|is_file %}
                                {{ field|attr:"class:button" }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                        <span class="help-block">{{ field.help_text }}</span>

                    </div>
                    {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary">Save changes</button>
                        <a href='/story/list/' class="btn">Cancel</a>

            </div>
        </div>
    </div>
    
</form>
