<section id='story-facets'>
	<article class='row story-facet' id='story-chapters'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Chapters <small>[drag to reorder]</small><a href='#' class='pull-right btn btn-success'>Add Chapter</a></h2>
				</header>
				<ul class='sortable tabular'>
					<li>Dummy Chapter One <span><a href='#'>View 3 Scenes</a></span><span><a href='#'>Add Scene</a></span></li>
					<li>Dummy Chapter Two <span><a href='#'>View 4 Scenes</a></span><span><a href='#'>Add Scene</a></span></li>
				</ul>
			</div>	
		</div>
	</article>

	<article class='row story-facet' id='story-characters'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Characters<a href='#' class='pull-right btn btn-success'>Add Character</a></h2>
				</header>
				<ul class='tabular'>
					<li>Dummy Character <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
					<li>Dummy Character <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
				</ul>
			</div>	
		</div>
	</article>
	<article class='row story-facet' id='story-locations'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Locations<a href='#' class='pull-right btn btn-success'>Add Location</a></h2>
				</header>
				<ul class='tabular'>
					<li>Dummy Location <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
					<li>Dummy Location <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
				</ul>
			</div>	
		</div>
	</article>
	<article class='row story-facet' id='story-artifacts'>
		<div class='span12 pod'>
			<div class='padded'>
				<header>
					<h2>Artifacts<a href='#' class='pull-right btn btn-success'>Add Artifact</a></h2>
				</header>
				<ul class='tabular'>
					<li>Dummy Artifact <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
					<li>Dummy Artifact <span><a href='#'>View</a></span><span><a href='#'>Edit</a></span></li>
				</ul>
			</div>	
		</div>
	</article>
</section>