<!doctype html>
<head>
  <title>pyWriter</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" />
  {{ form.media }}
</head>

<body>
	<div id="container">
        <div id="header">
            <h1><a href="/">pyWriter</a></h1>
            <div class="login">
            {% block "login" %}
            
            {% endblock %}
            </div>
        </div>
        <div id="content">
            {% block "main" %}
            <p>main</p>
            {% endblock "main" %}
        </div>
        <div id="rightpanel">
            {% block "rh" %}
            {% endblock "rh" %}
        </div>
	</div>
</body>
</html>

