<!doctype html>
<head>
  <title>pyWriter</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" />
  {{ form.media }}
  {% block "css" %}
  {% endblock %}
</head>

<body>
	<div id="container">
        <div id="header">
            <h1><a href="/">pyWriter</a></h1>
            <div class="login">
            {% block "login" %}
            {% if user.username %}
                <p>{{ user.username }} - <a class="button red medium" href="/logout/">logout</a></p>
            {% endif %}
            {% endblock %}
            </div>
        </div>
        
        {% if messages %}
        <div id="messages">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <div id="content">
            {% block "main" %}
            <p>main</p>
            {% endblock "main" %}
        </div>
        <div id="rightpanel">
            {% block "rh" %}
            {% endblock "rh" %}
        </div>
	</div>
</body>
</html>

