/******************************************
**
** Colors
**
*******************************************/
body {
  background-color: #dddddd;
}
#main-nav.navbar {
  min-height: 60px;
}
#main-nav.navbar .navbar-inner {
  min-height: 40px;
  padding: 10px 0;
}
#main-nav.navbar .navbar-inner li > a.btn {
  padding: 4px 12px;
  background-color: #e6e6e6;
}
#main-nav.navbar a.brand {
  font-size: 250%;
  padding-left: 20px;
  color: #444;
}
section h2 {
  margin-top: 0;
  font-size: 180%;
  color: #8b8b8b;
}
#siteupdates div.item {
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#siteupdates div.item img.avatar {
  float: left;
  width: 20%;
  height: 20%;
  max-width: 50px;
  max-height: 50px;
  border: 2px solid #65b9da;
}
#siteupdates div.item p {
  float: left;
  width: 70%;
  margin-left: 10px;
  font-family: monospace;
}
@media (min-width: 768px) {
  article {
    background-color: #efefef;
  }
  article section {
    padding: 1em;
    border: 1px solid #ccc;
  }
  .boxshadow article {
    -webkit-box-shadow: 2px 2px 4px #cccccc;
  }
  footer {
    text-align: right;
    padding-top: 10px;
  }
}
@media (min-width: 979px) {
  body {
    padding-top: 80px;
  }
}
