{% extends "base-templates/base.html" %}

{% block "main" %}
<h2>Login</h2>
<form method="post" action="{% url login_view %}">
    {% csrf_token %}
    <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
    <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>

    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="" />
</form>
<p><br />Or <a href="/signup/">signup</a></p>
{% endblock %}
