{% extends "base-templates/base.html" %}

{% block "main" %}
 
<div class='row'>
	<section class='span5'>
		<div class='padded pod'>
            <h2>Signup</h2>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                 {% for field in user_form %}                  
                        {{ field.errors }}
                        <p><label for="{{ field.auto_id }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                            {{ field }}
                           <br /><small>{{ field.help_text }} </small>
                        </p>
                {% endfor %}

                <input class="btn btn-primary"type="submit" value="Submit" />
            </form>
        </div>
    </section>
    <section class='span7'>
        <div class="padded pod">
        <h2>Information</h2>
            <p>Signups are currently under closed beta. Invite only.</p>
        </div>
    </section>
</div>
{% endblock "main" %}
