<p>user:{{ user.username }}</p>
<p><a href="/logout/">logout</a></p>

<p><strong>Stories:</strong>{% for s in stories %}{{s}} <br />{% endfor %}}</p>
<p><strong>Chapters:</strong>{% for c in chapters %}{{c}} <br />{% endfor %}</p>
<h3>Scenes:</h3>
{% for sc in scenes %}
<p><a href="/scene/{{sc.pk}}">edit {{sc}}</a></p>
{% endfor %}
<p><strong>Characters:</strong>{% for ch in characters %}{{ch}} <br />{% endfor %}</p>
<p><strong>Artifacts:</strong>{% for a in artifacts %}{{a}} <br />{% endfor %}</p>
<p><strong>Locations:</strong>{% for l in locations %}{{l}} <br />{% endfor %}</p>
